.grid-wrapper{
	width:fit-content;
	height:600px;
	margin:auto;
}
.grid-wrapper > div div{
	width: 70px;
    height: 70px;
    display: inline-block;
    margin: 2px 5px;
    background: #999;
    border-radius: 5px;
}
.grid-wrapper > div div > div{
	display:none;
}
.grid-wrapper > div div.match div{
    width: 40px;
    height: 40px;
    background: #fff !important;
    position: absolute;
    margin: 14px;
    border-radius: 50%;
	display:block;
}